QPushButton{
	border: 0px transparent;
}

QPushButton:hover {
	text-decoration: underline;
}

QPushButton:pressed {
    border-radius: 5px;
    background-color: #97e4f1;
    border-style: inset;
}

QFrame > url_search_bar{
	border-bottom: 1px solid;
}