QFrame > * {
  background-color: #90e0ef;
	border: 5px solid transparent;
	border-radius: 5px;
}

QPushButton {
    text-align: left;
    border: 5px solid transparent;
    border-radius: 5px;
    margin: 5px;
}

QPushButton:checked {
    background-color: white;
}

QPushButton:hover {
    border: 1px solid white;
}