QFrame > * {
    background: #90e0ef;
    border: 5px solid transparent;
    border-radius: 5px;
}

QPushButton:hover {
    border-bottom: 1px solid black;
}

QPushButton:pressed {
    border-radius: 5px;
    background-color: #8ad0dd;
    border-style: inset;
}

QLineEdit{
	border-bottom: 1px solid;
}

